networks:
  app-net: {}
  database_default:
    external: true

volumes:
  m2-cache:
  node-mod-cache:

services:
  backend:
    build: { context: ../backend, target: dev }
    env_file: dev.env
    volumes:
      - ../backend/src:/app/src:cached
      - ../backend/target/classes:/app/target/classes
      - m2-cache:/root/.m2
    command: >
      mvn -q spring-boot:run
      -Dspring-boot.run.jvmArguments="$JAVA_DEBUG_OPTS"
    expose: ["8080", "35729"]
    ports:
      - "8080:8080"   # API
      - "35729:35729" # LiveReload (optional)
      - "5005:5005"
    networks:
      - app-net
      - database_default

  frontend:
    build:
      context: ../frontend
      target: dev
      args:
        BUN_VERSION: latest
    env_file: ./dev.env
    environment:
      - HOST=0.0.0.0
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=300
      - VITE_API_URL=http://localhost/api
    volumes:
      - ../frontend/src:/app/src:cached
    expose: ["5173"]
    networks: [app-net]

  nginx:
    build: ../nginx
    env_file: dev.env
    ports: ["80:80"]
    depends_on: [frontend, backend]
    networks: [app-net]
